:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(75, 79, 79, 0.558);
  background-color: rgba(75, 79, 79, 0.558);
}
* {
  padding: 0;
  margin: 0;
}
